{
  "env": {
    "test": {
      "presets": [["env", { "targets": { "node": "current" } }]],
      "plugins": [
        "transform-jsx-vue3",
        "transform-object-assign",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-runtime"
      ]
    }
  }
}
