{
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "jest": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": ["plugin:vue-libs/recommended", "prettier"],
    "rules": {
        "comma-dangle": [2, "always-multiline"],
        "no-var": "error",
        "no-unused-vars": "warn",
        "camelcase": "off",
        "no-extra-boolean-cast": "off",
        "semi": ["error", "always"]
    }
}