
.components-input-demo-presuffix .anticon-close-circle[data-v-be2ae396] {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-size: 12px;
}
.components-input-demo-presuffix .anticon-close-circle[data-v-be2ae396]:hover {
  color: #999;
}
.components-input-demo-presuffix .anticon-close-circle[data-v-be2ae396]:active {
  color: #666;
}


.components-input-demo-size .ant-input[data-v-6b258400] {
  width: 200px;
  margin: 0 8px 8px 0;
}




































































































  /* to prevent the arrow overflow the popup container,
or the height is not enough when content is empty */
.numeric-input .ant-tooltip-inner {
    min-width: 32px;
    min-height: 37px;
}
.numeric-input .numeric-input-title {
    font-size: 14px;
}

