
.locale-components[data-v-77583922] {
  border-top: 1px solid #d9d9d9;
  padding-top: 16px;
}
.example[data-v-77583922] {
  margin: 16px 0;
}
.example > *[data-v-77583922] {
  margin-right: 8px;
}
.change-locale[data-v-77583922] {
  margin-bottom: 16px;
}

