






















































/* For demo */
.ant-carousel[data-v-24c0f177] .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel[data-v-24c0f177] .slick-slide h3 {
  color: #fff;
}


















































/* For demo */
.ant-carousel[data-v-bb33c7ae] .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel[data-v-bb33c7ae] .slick-slide h3 {
  color: #fff;
}


















































/* For demo */
.ant-carousel[data-v-a374683c] .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel[data-v-a374683c] .slick-slide h3 {
  color: #fff;
}


















































/* For demo */
.ant-carousel[data-v-04bd7e22] .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel[data-v-04bd7e22] .slick-slide h3 {
  color: #fff;
}
















































































/* For demo */
.ant-carousel[data-v-9922f6b0] .slick-dots {
  height: auto;
}
.ant-carousel[data-v-9922f6b0] .slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
  max-width: 80%;
}
.ant-carousel[data-v-9922f6b0] .slick-thumb {
  bottom: -45px;
}
.ant-carousel[data-v-9922f6b0] .slick-thumb li {
  width: 60px;
  height: 45px;
}
.ant-carousel[data-v-9922f6b0] .slick-thumb li img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.ant-carousel[data-v-9922f6b0] .slick-thumb li.slick-active img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}


















































































/* For demo */
.ant-carousel[data-v-3a05e5ea] .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel[data-v-3a05e5ea] .custom-slick-arrow {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #fff;
  background-color: rgba(31, 45, 61, 0.11);
  opacity: 0.3;
}
.ant-carousel[data-v-3a05e5ea] .custom-slick-arrow:before {
  display: none;
}
.ant-carousel[data-v-3a05e5ea] .custom-slick-arrow:hover {
  opacity: 0.5;
}
.ant-carousel[data-v-3a05e5ea] .slick-slide h3 {
  color: #fff;
}

