
.icons-list[data-v-a48b5360] .anticon {
  margin-right: 6px;
  font-size: 24px;
}


.custom-icons-list[data-v-6212f54a] .anticon {
  margin-right: 6px;
}


.icons-list[data-v-b3c40938] .anticon {
  margin-right: 6px;
  font-size: 24px;
}


.icons-list[data-v-b3daf10e] .anticon {
  margin-right: 6px;
  font-size: 24px;
}

