
.spin-content[data-v-6f47dd26] {
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
  padding: 30px;
}


.example[data-v-7e1a0a07] {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}


.spin-content[data-v-614ed9a8] {
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
  padding: 30px;
}


.spin-content[data-v-7a7d9168] {
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
  padding: 30px;
}

