@import './SearchBox.less';

#header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: var(--component-background);
  box-shadow: var(--box-shadow);

  .menu-row {
    display: flex;
    align-items: center;
    margin: 0;

    > * {
      flex: none;
      margin: 0 16px 0 0;

      &:last-child {
        margin-right: 40px;
      }
    }
  }

  // Adjust github button style

  .ant-row-rtl {
    .menu-row {
      > * {
        &:last-child {
          margin-right: 16px;
          margin-left: 40px;
        }
      }
    }
  }

  // Buttons
  .header-button {
    color: var(--text-color);
  }
}

@media only screen and (max-width: 767.99px) {
  #header {
    text-align: center;
  }
}

// Popover menu is only used for mobile
.popover-menu {
  width: 300px;

  .ant-popover-inner-content {
    padding: 0;

    #nav {
      .ant-menu-item,
      .ant-menu-submenu {
        text-align: left;
      }

      .ant-menu-item-group-title {
        padding-left: 24px;
      }

      .ant-menu-item-group-list {
        padding: 0 16px;
      }

      .ant-menu-item,
      a {
        color: #333;
      }
    }
  }
}
