.components-overview {
  padding: 0;

  &-group-title {
    margin-bottom: 24px !important;
  }

  &-title {
    overflow: hidden;
    color: var(--text-color);
    text-overflow: ellipsis;
  }
  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 152px;
  }
  &-card {
    cursor: pointer;
    transition: all 0.5s ease 0s;
    &:hover {
      box-shadow: var(--shadow-2);
    }
  }

  &-affix {
    transition: all 0.25s;
  }

  &-affixed {
    padding: 12px;
    margin: -8px;
    border-radius: 6px;
    border: 1px solid var(--border-color-base);
    background-color: var(--body-background);
  }
}

.components-overview-search {
  width: 100%;
  padding: 0;
  font-size: 20px;
  border: 0;
  box-shadow: none;

  input {
    font-size: 20px;
  }

  .anticon {
    color: #bbb;
  }
}

.components-overview-img img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}
