@reference '../../../style/tailwind.css';
@import '../../../_internal/trigger/style/index.css';

:where(.ant-popover) {
  --popover-bg: #fff;
  --popover-color: var(--color-neutral);
  --popover-border-radius: var(--ant-border-radius-lg);
  --popover-max-width: 350px;
  font-family: var(--ant-font-family);
  font-weight: 400;
  white-space: normal;
  text-align: start;
  cursor: auto;
  user-select: text;
}

:where(.ant-popover) .ant-popover-content {
  position: relative;
}

:where(.ant-popover) .ant-popover-inner {
  font-size: var(--ant-font-size);
  max-width: var(--popover-max-width);
  color: var(--popover-color);
  background: var(--popover-bg);
  background-clip: padding-box;
  border-radius: var(--popover-border-radius);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 12px;
}

:where(.ant-popover) .ant-popover-title {
  line-height: var(--ant-line-height);
  min-width: 177px;
  margin-bottom: 8px;
  font-weight: 600;
}

:where(.ant-popover) .ant-popover-inner-content {
  color: var(--popover-color);
  line-height: var(--ant-line-height);
}

:where(.ant-popover) .ant-popover-inner-content > p {
  margin-top: 0;
  margin-bottom: 1em;
}

:where(.ant-popover) .ant-popover-inner-content > p:last-child {
  margin-bottom: 0;
}

:where(.ant-popover) .ant-trigger-arrow {
  --ant-trigger-arrow-background: var(--popover-bg);
}
